<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <link  rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
    th:href = "@{css/bootstrap.min.css}" />
    <link  rel="stylesheet" type="text/css" href="../static/css/Style.css"
           th:href = "@{css/Style.css}" />

</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Log In</h4>
                        </div>
                        <div class="login-form mt-4">
                            <form th:action="@{/login}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input id="email"  name="username" placeholder="username" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input  class="form-control" id="pass" type="password" name="password" placeholder="password">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn btn-danger btn-block" type="submit" value="Login"/>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>